<!doctype html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
</head>
<title>{% block title %}Welcome{% endblock %} — Blog</title>
<body>
  <header>
    <h1>Blog</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog Entries'],
          ['/projects', 'Projects'],
          ['/resources', 'Resources']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="page">
    {% block body %}{% endblock %}
    </div>
  </div>
  <footer>
    &copy; Copyright 2018 by Charles Adams &emsp;|&emsp; Built with <a href="https://www.getlektor.com/" target="_blank">Lektor</a>
  </footer>
  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>
</body>
